<div class="row">
  <div class="col-12">
    <h1>Welcome to Task Tracker V2</h1>
    <%= if @current_user do %>
    <strong>Follow the navigation bar to use this app!</strong>
    <% else %>
    <p><%= link "Register", to: Routes.user_path(@conn, :new), class: "btn btn-success" %></p>
    <% end %>

  </div>
</div>
